#footer{
  background-color: lightblue;
  padding: 90px;
  text-align: center;
}
#footer:hover{
  color: red;
}

#mydata{
  margin: 40px;
}
#homeDoctors
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#myfrom{
  margin: auto;
  width: 50%;
}

#dashboard{
  text-align: center;
  text-transform:uppercase;
  padding: 30px;
  background-color: lightgray;
}

#data{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

#local{
  text-align: right;
  background-color: orange;
  padding: 40px;
  font-size: 30px;
}